.body{
    display:flex;
    flex-direction: row;
    flex:1;

}
.top{
    height: 85px;
    border:{
        bottom: {
            width:1px;
            style:solid;
            color:#d4d4d4;
        };
    }
}
.footer{
    height: 50px;
    border:{
        top:{
            width: 1px;
            style:solid;
            color:#d4d4d4;
        }
    }
}
html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.app{
    height: 100%;
    display:flex;
    flex-direction: column;
}